@import url(./fonts.css);

:root {
  /* OKLCH Updated Palette */
  /* Primary - Purple */
  --primary-shade: oklch(57.02% 0.18 301.71);
  --primary-shade-60: oklch(57.02% 0.18 301.71 / .6);
  --primary-shade-10: oklch(57.02% 0.18 301.71 / .1);

  /* Accent - Lilac */
  --accent-shade: oklch(85% 0.0856 333.46);
  --accent-shade-light: oklch(95% 0.0856 333.46);

  /* Main Text Shade */
  --primary-text-shade: var(--accent-shade);

  /* Neutral */
  --neutral-shade: oklch(15.13% 0.0027 325.71);

  /* Success */
  --success-shade: oklch(82.52% 0.1974 130.38);

  /* Caution */
  --caution-shade: oklch(87.52% 0.1621 106.23);

  /* Danger */
  --danger-shade: oklch(60.24% 0.2146 23.1);

  /* Info */
  --info-shade: oklch(57.6% 0.1549 248.12);
 

  font-family: 'Ellograph Regular', monospace;
  font-style: normal;
  font-weight: 100;
  line-height: 1.4;

  color-scheme: light dark;
  color: var(--primary-text-shade);
  background-color: var(--primary-shade-60);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  align-items: center;
}

h1 {
  font-size: 4em;
  line-height: 1.2;
}

button {
  border-radius: 12px;
  border: 2px solid var(--accent-shade);
  box-shadow: 4px 4px var(--accent-shade);
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--neutral-shade);
  color: var(--accent-shade-light);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-text-shade);
  box-shadow: none;
  transition: box-shadow 0.2s ease-in;
}
button:focus,
button:focus-visible {
  outline: 4px auto var(--accent-shade-light);
}

.accent-btn {
  border: 2px solid var(--neutral-shade);
  background-color: var(--accent-shade);
  color: var(--neutral-shade);
  box-shadow: 4px 4px var(--neutral-shade);
}
.accent-btn:hover {
  border-color: var(--neutral-shade);
}

.accent-text a {
  color: var(--accent-shade-light) !important;
  font-family: 'Ellograph Regular';
}

a {
  text-transform: uppercase;
  color: var(--primary-shade);
  font-family: 'Ellograph Demi Bold';
  text-shadow: var(--primary-shade-60) 1px 1px;
}

.footer {
  margin-top: 4rem;
  width: 50%;
  text-align: right;
  margin-left: auto;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: .2rem 1.2rem;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/