@import url(./fonts.css);

:root {
  --primary-text-hex: #CEBAF8;
  --primary-bg-hex: #574c69;
  --accent-btn-hex: #f2c166;
  --primary-btn-hex: #332947;
  --accent-hex: #EEB4D9;

  --primary-text-rgb: 178, 148, 242;
  --primary-bg-rgb: 87, 76, 105;
  --accent-btn-rgb: 242, 193, 102;
  --primary-btn-rgb: 51, 41, 71;
  --accent-rgb: 242, 41, 135;

  font-family: 'Ellograph Regular', monospace;
  font-style: normal;
  font-weight: 100;
  line-height: 1.4;

  color-scheme: light dark;
  color: var(--primary-text-hex);
  background-color: var(--primary-bg-hex);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

section {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
}

h1 {
  font-size: 4em;
  line-height: 1.2;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: var(--primary-btn-hex);
  color: var(--primary-text-hex);
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: var(--primary-text-hex);
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.accent-btn {
  background-color: var(--accent-btn-hex);
  color: var(--primary-bg-hex);
}
.accent-btn:hover {
  border-color: var(--primary-bg-hex);
}

.accent-text a {
  color: var(--accent-btn-hex) !important;
  font-family: 'Ellograph Regular';
}

/*
  background-color: rgb(var(--primary-btn-rgb));
*/

.footer {
  margin-top: 4rem;
  width: 50%;
  text-align: right;
  margin-left: auto;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: .2rem 1.2rem;
}

/*
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
*/